langchain
langchain-community
langchain-openai
discord.py
python-dotenv
pyautogen
playwright
playwright-stealth
chess
pillow
pytz
aiohttp
youtube-transcript-api
pytube
youtube-comment-downloader
beautifulsoup4
