ag2
langchain
langchain-community
langchain-openai
discord.py
python-dotenv
playwright
playwright-stealth
chess
pillow
pytz
aiohttp
youtube-transcript-api
pytube
youtube-comment-downloader
beautifulsoup4
psutil
pinecone-client
pinecone-text
PyNaCl
discord-ext-voice-recv
azure-cognitiveservices-speech
scipy
editdistance
